// -- Variables
// --
$overlay_opacity: 0.3;
$overlay_pattern: 'https://www.thegraphicdesignschool.com/public/img/patterns/pat-work.png';

@import url( https://fonts.googleapis.com/css?family=Raleway:400,600 );
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

$red: rgb(222,19,66);

// -- Generic
// --
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #666;
}

a {
  text-decoration: none;
  color: #a46497;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.full-width {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

// -- header stuff
// --
#header {
    background: #2c2d33;
    padding: 1em 0 3em;
  
  a {
    color: #FFF;
    display: block;
    
    .svg {
      display: inline-block;
      height: 2em;
    }

     h1 {
       font-family: Times New Roman, serif;
       font-weight: normal;
       font-size: .85em;
       line-height: 1.1em;
       text-transform: uppercase;

       display: inline-block;
       width: 3em;

       transform: translateX(-2em) translateY(3em);
    }
  }
}

.video--content {
  
  position: relative;
  text-align: center;
  color: #FFF;
  margin: 150px 0;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);

  h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 48px;
    margin: 0 0 1em;
    
    text-shadow: .1em .1em .1em rgba(0,0,0,.2);
  }

  a {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    
    color: #fff;
    background: rgba(255,255,255,.4);
    
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
    
    margin: 0;
    padding: 1em 2em;
    border: 2px solid #fff;
    border-radius: .15em;
    
    transition: all .5s ease;
    
    &:hover {
      color: $red;
      border-color: $red;
      background: rgba(222,19,66,.1);
      transform: scaleX(1.15) scaleY(1.15);
    }
  }
  
}

// -- Presentation for demo
// --

#content {
  padding: 60px 0;
}


/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.video-wrapper {
  
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://www.thegraphicdesignschool.com/public/img/v002.blue.svg);
  
  transition: all 800ms ease;  

  video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translateX(-50%) translateY(-50%);
  }
}

.video-player {
  display: none;
  visibility: hidden;
  
  &.visible {
    display:block;
    visibility: visible;
  }
}

/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .bg-video {
  opacity: 0;
  transition: opacity 300ms linear;
}
.js .bg-video.is-visible {
  opacity: 1;
}

#console {
  margin: 1em inherit;
  padding: 1em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  font-family: monospace;
  line-height: 1em;
}



